# ===== Node =====
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
nul

# ===== Env =====
.env
.env.*
!.env.example

# ===== OS =====
.DS_Store
Thumbs.db

# ===== Logs =====
logs/
*.log

# ===== Build =====
dist/
build/

# ===== PDF / Temp =====
pdf/
tmp/
public/pdf/*.pdf
.DS_Store